body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C2C2C; /* Antrasit siyah arka plan */
    color: #FFFFFF; /* Beyaz metin */
}

header {
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 20px;
    width: 90%;
    max-width: 600px;
}

h2 {
    border-bottom: 2px solid #444444; /* Koyu gri alt çizgi */
    padding-bottom: 10px;
    color: #FFFFFF; /* Beyaz metin */
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #444444; /* Koyu gri buton arka planı */
    color: #FFFFFF; /* Beyaz metin */
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #555555; /* Daha koyu gri buton arka planı */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); /* Daha koyu arka plan */
    padding-top: 60px;
}

.modal-content {
    background-color: #333333; /* Antrasit modal arka planı */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: #FFFFFF; /* Beyaz metin */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #FFFFFF; /* Beyaz metin */
    text-decoration: none;
    cursor: pointer;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #444444; /* Koyu gri giriş alanı arka planı */
    color: #FFFFFF; /* Beyaz metin */
}

@media (max-width: 768px) {
    button {
        font-size: 14px;
        padding: 10px;
    }
}
